@import '/node_modules/antd/dist/antd.min.css';

.ant-layout-header {
    max-height: 48px
}
.textCenter {
    text-align: center;
}
.row3vh {
    height: 2vh;
    width: 100%;
}
.verticalMargin15px {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.horizontalMargin15px {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.marginTop10px {
    margin-top: 10px;
}
.marginTop25px {
    margin-top: 25px;
}