@import '/node_modules/antd/dist/antd.min.css';

.ant-layout-header {
    max-height: 48px
}

.textCenter {
    text-align: center;
}

.marginTop10px {
    margin-top: 10px;
}
.marginTop25px {
    margin-top: 25px;
}